footer {
    bottom:0;
    margin-top: 10px;
    padding:7px;
    width:100%;
    background-color: darkslategrey;
    box-shadow: 0px 0px 2px 5px grey;
    color:white;
}

.card{
    box-shadow: 0px 0px 5px black;
}
main{
    margin-bottom: 50px;
}
body{
    background-color: whitesmoke;
}
input, select, button{
    box-shadow: 0px 0px 5px black;
}
.shadow {
    box-shadow: 0px 0px 5px black;
}

.text-muted {
    color: #d83510!important;
}