<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Campaign</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/tether/tether.min.css"
          th:href="@{tether/tether.min.css}"/>

    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<header th:replace="fragments/parts::menu">
</header>
<main>
    <h2 class="h2" style="width:250px; margin: auto">Добавяне на кампания</h2>

    <div class="container">
        <form >
            <div class="form-group">
                <label for="corpName">Име на кампанията</label>
                <input type="text" class="form-control" id="corpName" aria-describedby="corpHelp" placeholder="Име"/>
                <small id="corpHelp" class="form-text ">Име на кампанията</small>
            </div>
            <div class="form-group">
                <label for="startDate">Начална дата</label>
                <input type="date" class="form-control" id="startDate" />
            </div>
            <div class="form-group">
                <label for="endDate">Крайна дата</label>
                <input type="date" class="form-control" id="endDate"/>
            </div>
            <div class="form-group">
                <label for="campaignType">Вид кампания</label>
                <select class="form-control" id="campaignType">
                    <option>Получаване твърда сума</option>
                    <option>Отстъпка с твърда сума</option>
                    <option>Получаване на процент от сума в платформата</option>
                    <option>Отстъпка процент при следващо плащане в платформата</option>
                    <option>Отстъпка с твърда сума във платформата</option>
                </select>
            </div>
            <div class="row">
                <div class="col-sm-6" >
                    <label for="campaignSum">Сума</label>
                    <input class="form-control" id="campaignSum" placeholder="0.00" type="text"/>
                </div>
                <div class="col-sm-6" >
                    <label for="campaignPercent">Процент</label>
                    <input class="form-control" id="campaignPercent" placeholder="0%" type="text"/>
                </div>
            </div>
            <div class="form-group">
                <label for="campaignSelect">Вид на събитието</label>
                <select class="form-control" id="campaignSelect">
                    <option>Постъпление/приход</option>
                    <option>Нов потребител</option>
                </select>
            </div>
            <div  class="form-group">
                   <div class="form-control">
                       <input type="file"   class="form-control-file" id="logoInputFile" aria-describedby="fileHelp" style="box-shadow:none"/>
                       <label for="logoInputFile">Снимка за визуализиране на кампанията</label>
                   </div>
                    <small id="fileHelp" class="form-text " >Изберете снимка обясняваща кампанията (ако нямате подходяща използвайте логото на фирмата)</small>
            </div>
            <div class="form-group">
                <label for="descriptionCampaign">Описание</label>
                <textarea  class="form-control" id="descriptionCampaign" rows="3" style="box-shadow: 0px 0px 5px black;"></textarea>
            </div>


            <div class="form-group"><button type="submit" class="btn btn-primary"  >Добави кампания</button></div>


        </form>
    </div>
</main>
<script th:src="@{jquery/jquery.min.js}"></script>
<script th:src="@{tether/tether.min.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{bootstrap/js/script.js}"></script>
<footer th:replace="fragments/parts::footer"></footer>
</body>

</html>