<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/tether/tether.min.css"
          th:href="@{tether/tether.min.css}"/>

    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<header th:replace="fragments/parts::menu">
</header>
<main>
    <h1 class="h1">Описание за дейностите</h1>
</main>
<div>Регистрирайте се,разгледайте кампаниите, след което можете да изберете коя кампания можете да изпълните.</div>
<div>При изброените събития се изпраща автоматично информация какво е събитето.</div>
<div>Oт всички кампании можете да си харесате кампания.</div>
<div>Това е уебплатформа, която позволява на потребителите да печелят награди по формата на сума, сума която могат да използват само в платформата,сума процент от даден приход и процент отстъпка при следващо плащане в съответната платформа. </div>
<div>За да се случи това трябва да регистрирате специални потребители, които да работят и така да получавате наградите за съответната кампания!</div>
<div>Регистрирайте се,разгледайте кампаниите, след което можете да изберете коя кампания можете да изпълните.</div>
<div>При изброените събития се изпраща автоматично информация какво е събитето.</div>
<div>Oт всички кампании можете да си харесате кампания.</div>
<div>Това е уебплатформа, която позволява на потребителите да печелят награди по формата на сума, сума която могат да използват само в платформата,сума процент от даден приход и процент отстъпка при следващо плащане в съответната платформа. </div>
<div>За да се случи това трябва да регистрирате специални потребители, които да работят и така да получавате наградите за съответната кампания!</div>
<div>Регистрирайте се,разгледайте кампаниите, след което можете да изберете коя кампания можете да изпълните.</div>
<div>При изброените събития се изпраща автоматично информация какво е събитето.</div>
<div>Oт всички кампании можете да си харесате кампания.</div>
<div>Това е уебплатформа, която позволява на потребителите да печелят награди по формата на сума, сума която могат да използват само в платформата,сума процент от даден приход и процент отстъпка при следващо плащане в съответната платформа. </div>
<div>За да се случи това трябва да регистрирате специални потребители, които да работят и така да получавате наградите за съответната кампания!</div>
<div>Регистрирайте се,разгледайте кампаниите, след което можете да изберете коя кампания можете да изпълните.</div>
<div>При изброените събития се изпраща автоматично информация какво е събитето.</div>
<div>Oт всички кампании можете да си харесате кампания.</div>
<div>Това е уебплатформа, която позволява на потребителите да печелят награди по формата на сума, сума която могат да използват само в платформата,сума процент от даден приход и процент отстъпка при следващо плащане в съответната платформа. </div>
<div>За да се случи това трябва да регистрирате специални потребители, които да работят и така да получавате наградите за съответната кампания!</div>
<script th:src="@{jquery/jquery.min.js}"></script>
<script th:src="@{tether/tether.min.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<footer th:replace="fragments/parts::footer"></footer>
</body>

</html>